@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    --bs-secondary-rgb: 226, 30, 128;
}

body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.text-gradient,
.navbar-brand,
.no-link-style:hover {
    /* Set the background color */
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    /* Mask the color to the text, and remove the rest  */
    -webkit-background-clip: text;
    /* Make the text fill color value transparent so the masked background color comes through */
    -webkit-text-fill-color: transparent;
}

.bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

/* base.html start */

.profile {
    position: relative;
    height: 75vw;
    width: 75vw;
    border-radius: 5vw;
    margin-top: 5vw;
    max-height: 40rem;
    max-width: 40rem;
}

.profile .profile-img {
    height: 80vw;
    max-height: 45rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.resourses-modal>ul {
    list-style: none;
    float: left;
}

/* base.html end */


/* index.html start */

.header-muted {
    font-size: 1.5rem;
}

.profile>form {
    margin: auto;
    width: 75%;
}

.index-form {
    background: none;
    margin-top: 10px;
}

.google {
    width: 30%;
    margin: 0;
    padding: 0;
}

/* index.html end */


/* resume.html start */

.btn-resume {
    background-color: rgba(var(--bs-secondary-rgb));
    border: none;
    border-radius: 11px;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.no-link-style {
    color: #212529;
}

.skill-set {
    margin: 12px 0;
}

/* resume.html end */

/* projects.html start */
.project-text {
    font-size: 0.9rem;
    text-align: left;
}

.card-img-top {
    width: 100%;
    height: 150px;
    margin-top: 15px;
}

.projects {
    margin: 5px 0;
}

.language-icons {
    width: 30px;
    height: 30px;
    margin: 7px 4px;
}

/* projects.html end */

/* contact.html start */
form>div {
    margin: 7px 0;
}

.form-submit {
    width: 100%;
}

.google-search {
    margin: 27px auto;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.h-250 {
    height: 250px;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .h-md-250 {
        height: 250px;
    }
}

/* contact.html end */

/* Admin page start */
.admin-sidebar-ul,
.admin-sidebar-ul a {
    color: #fff;
}

.admin-sidebar-ul>li>button {
    color: #e21e80;
}

/* Admin page end */

@media only screen and (max-width: 600px) {
    .header-h1 {
        font-size: 1.7em;
    }

    .header-muted {
        font-size: 0.9rem;
    }

    .bg-gradient-primary-to-secondary {
        margin-left: -20px;
    }

    .btn-resume {
        margin-left: 20px;
    }
}