@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    --bs-secondary-rgb: 226, 30, 128;
}

body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.text-gradient,
.navbar-brand {
    /* Set the background color */
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    /* Mask the color to the text, and remove the rest  */
    -webkit-background-clip: text;
    /* Make the text fill color value transparent so the masked background color comes through */
    -webkit-text-fill-color: transparent;
}

.bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
}

.profile {
    position: relative;
    height: 75vw;
    width: 75vw;
    border-radius: 5vw;
    margin-top: 5vw;
    max-height: 40rem;
    max-width: 40rem;
}

.profile .profile-img {
    height: 80vw;
    max-height: 45rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header-muted {
    font-size: 1.5rem;
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.btn-resume {
    background-color: rgba(var(--bs-secondary-rgb));
    border: none;
    border-radius: 11px;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.no-link-style {
    color: #212529;
}

.no-link-style:hover {
    color: rgba(var(--bs-secondary-rgb));
}

@media only screen and (max-width: 600px) {
    .header-h1 {
        font-size: 1.7em;
    }

    .header-muted {
        font-size: 0.9rem;
    }

    .bg-gradient-primary-to-secondary {
        margin-left: -20px;
    }

    .btn-resume {
        margin-left: 20px;
    }
}