{% extends "base.html" %} {% block title %}Projects - Ankit Luthra{% endblock %}
{% block content %}
<!-- Project Section -->
<section class="py-5">
  <div class="container py-4">
    <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">Projects</span>
      </h1>
    </div>

    <header class="p-3 mb-3">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end"
        >
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Search..."
              aria-label="Search"
            />
          </form>

          <div class="dropdown text-end">
            <a
              id="filter-dropdown"
              href="#"
              class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Filter
            </a>
            <ul class="dropdown-menu text-small">
              <li>
                <a class="dropdown-item" href="#">
                  <div class="form-check">
                    <input
                      class="form-check-input filter-radio"
                      type="radio"
                      name="exampleRadios"
                      id="exampleRadios1"
                      value="all"
                      checked
                    />
                    <label class="form-check-label" for="exampleRadios1">
                      All
                    </label>
                  </div>
                </a>
              </li>
              {% for abbreviation in project_type_abbreviations %}
              <li>
                <a class="dropdown-item" href="#">
                  <div class="form-check">
                    <input
                      class="form-check-input filter-radio"
                      type="radio"
                      name="exampleRadios"
                      id="{{ abbreviation }}"
                      value="{{ abbreviation }}"
                    />
                    <label class="form-check-label" for="{{ abbreviation }}">
                      {{ abbreviation }}
                    </label>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
      {% for project in all_projects %}
      <div class="col-md-6 projects">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>{{ project.project_name }}</h2>
          {% for language in project.languages.split(', ') %}
          <span class="language-icons">
            <img
              src="{{ get_language_icon(language) }}"
              alt="{{ language }}"
              class="language-icons"
            />
          </span>
          {% endfor %}
          <p>{{ project.description }}</p>
          <button
            class="btn btn-outline-secondary"
            type="button"
            {%
            if
            not
            project.live_link
            %}disabled{%
            endif
            %}
          >
            <a href="{{ project.live_link }}" class="text-dark" target="_blank"
              >Live Preview</a
            >
          </button>

          <button
            class="btn btn-outline-secondary"
            type="button"
            {%
            if
            not
            project.github
            %}disabled{%
            endif
            %}
          >
            <a href="{{ project.github }}" target="_blank"
              ><i class="bi bi-code-slash" style="color: #000"></i
            ></a>
          </button>
        </div>
      </div>
      <br />
      {% endfor %}
    </div>
  </div>
</section>

<!-- Call to action Section -->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
  <div class="container px-5 my-5">
    <div class="text-center">
      <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
      <a
        class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder"
        href="contact.html"
        >Contact me</a
      >
    </div>
  </div>
</section>
{% endblock %}
