{% extends "base.html" %} {% block title %}Resume - Ankit Luthra{% endblock %}
{% block content %}
<div class="container resume-container px-5 my-5">
  <div class="text-center mb-5">
    <h1 class="display-5 fw-bolder mb-0">
      <span class="text-gradient d-inline">Resume</span>
    </h1>
  </div>
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      <!-- Education Section-->
      <section>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h2 class="text-secondary fw-bolder mb-4">Education</h2>
          <!-- Download resume button-->
          <!-- Note: Set the link href target to a PDF file within your project-->
          <button class="btn btn-primary btn-resume btn-sm px-4 py-3">
            <a
              href="/static/Resume - Ankit Luthra.pdf"
              target="_blank"
              rel="noopener noreferrer"
              style="text-decoration: none; color: #fff"
              ><div class="d-inline-block bi bi-download me-2"></div>
              Resume</a
            >
          </button>
        </div>
        {% for education in education_data %}
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-secondary fw-bolder mb-2">
                    {{education.from_date}} - {{education.to_date}}
                  </div>
                  <div class="mb-2">
                    <div class="small fw-bolder">
                      <a
                        href="https://www.niagaracollege.ca/media/program/programming/#courses"
                        class="no-link-style"
                        >{{ education.college_name }}</a
                      >
                    </div>
                    <div class="small text-muted">
                      {{education.city}}, {{ education.province }}
                    </div>
                  </div>
                  <div class="fst-italic">
                    <div class="small text-muted">{{ education.degree }}</div>
                    <div class="small text-muted">{{ education.major }}</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>{{ education.description }}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
      <!-- Personal Development Section-->
      <section>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h2 class="text-primary fw-bolder mb-0 text-gradient">
            Personal Development
          </h2>
        </div>
        {% for courses in courses_data %}
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2 text-gradient">
                    {{ courses.year_completed }}
                  </div>
                  <div class="small fw-bolder">
                    <a
                      href="{{ courses.url }}"
                      target="_blank"
                      class="no-link-style"
                      rel="noopener noreferrer"
                    >
                      {{ courses.course_name }}</a
                    >
                  </div>
                  <div class="small text-muted">{{ courses.provider }}</div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>{{ courses.description }}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
      <!-- Experience Section-->
      <section>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h2 class="text-primary fw-bolder mb-0">Experience</h2>
        </div>
        {% for work_experience in work_experience_data %}
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <div class="row align-items-center gx-5">
              <div class="col text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                  <div class="text-primary fw-bolder mb-2">
                    {{ work_experience.from_date }} - {{ work_experience.to_date
                    }}
                  </div>
                  <div class="small fw-bolder">
                    {{ work_experience.job_title }}
                  </div>
                  <div class="small text-muted">
                    {{ work_experience.company_name }}
                  </div>
                  <div class="small text-muted">
                    {{ work_experience.location }}
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div>{{ work_experience.description }}</div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
      <!-- Divider-->
      <div class="pb-5"></div>
      <!-- Skills Section-->
      <section>
        <!-- Skillset Card-->
        <div class="card shadow border-0 rounded-4 mb-5">
          <div class="card-body p-5">
            <!-- Professional skills list-->
            <div class="mb-5">
              <div class="d-flex align-items-center mb-4">
                <div
                  class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                >
                  <i class="bi bi-tools"></i>
                </div>
                <h3 class="fw-bolder mb-0">
                  <span class="text-gradient d-inline"
                    >Professional Skills</span
                  >
                </h3>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                {% for skill in skills %}
                <div class="col mb-4 mb-md-0 skill-set">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    {{ skill.skills }}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <!-- Languages list-->
            <div class="mb-0">
              <div class="d-flex align-items-center mb-4">
                <div
                  class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                >
                  <i class="bi bi-code-slash"></i>
                </div>
                <h3 class="fw-bolder mb-0">
                  <span class="text-gradient d-inline"
                    >Programming Languages and Frameworks</span
                  >
                </h3>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                {% for programming_language in programming_languages %}
                <div class="col mb-4 mb-md-0 skill-set">
                  <div
                    class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                  >
                    {{ programming_language.programming_languages }}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
